<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://dsa-project.spdns.eu:3306/dsa</property>
		<property name="hibernate.dialect">MySQL5InnoDB</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.default_schema">dsa</property>
		<property name="hibernate.connection.release_mode">auto</property>
		<property name="hibernate.transaction.auto_close_session">true</property>
		<!-- #################### MAPPINGS #################### -->
		<!-- data -->
		
		<mapping class="dsa.common.data.Eigenschaft" />
		<mapping class="dsa.common.data.Talent" />
		<mapping class="dsa.common.data.mappings.Probe" />
		<mapping class="dsa.common.data.mappings.ids.ProbeID" />
		<!-- <mapping class="dsa.common.data.Charakter" />
		<mapping class="dsa.common.data.Ausruestung" />
		<mapping class="dsa.common.data.AusruestungsGegenstand" />
		<mapping class="dsa.common.data.Behaelter" />
		<mapping class="dsa.common.data.Geld" />
		<mapping class="dsa.common.data.Kultur" />
		<mapping class="dsa.common.data.Nachteil" />
		<mapping class="dsa.common.data.Profession" />
		<mapping class="dsa.common.data.Rasse" />
		<mapping class="dsa.common.data.Sonderfertigkeit" />
		
		<mapping class="dsa.common.data.Vorteil" />
		<mapping class="dsa.common.data.Wirkung" /> -->
		
		
		<!-- charmappings -->
		<!--<mapping class="dsa.common.data.charaktermappings.CharakterAusruestung" />
		<mapping class="dsa.common.data.charaktermappings.CharakterEigenschaft" />
		<mapping class="dsa.common.data.charaktermappings.CharakterNachteil" />
		<mapping class="dsa.common.data.charaktermappings.CharakterTalent" />
		<mapping class="dsa.common.data.charaktermappings.CharakterVorteil" />
		 -->
		<!-- embeddedids -->
		<!--<mapping class="dsa.common.data.charaktermappings.embeddedids.CharakterAusruestungId" />
		<mapping class="dsa.common.data.charaktermappings.embeddedids.CharakterEigenschaftId" />
		<mapping class="dsa.common.data.charaktermappings.embeddedids.CharakterNachteilId" />
		<mapping class="dsa.common.data.charaktermappings.embeddedids.CharakterTalentId" />
		<mapping class="dsa.common.data.charaktermappings.embeddedids.CharakterVorteilId" />
		 -->
		

	</session-factory>
</hibernate-configuration>
